/* Hover effects for table cells containing images */
table td {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* border-radius: 8px; */
}

table td:hover {
    transform: translateY(-5px);
}

/* Hover effects for images */
table td img {
    background-color: white;
    transition: opacity 0.3s ease;
}

/* Hover effect for email link in header */
header h1 a {
    transition: opacity 0.3s ease;
}

header h1 a:hover {
    /* opacity: 0.7; */
}